

h1{
	color: #404040;
	font-family: Tahoma;
	text-align: center;
	
}

h2{
	color: #404040;
	font-family: Tahoma;
	text-align: center;
}
.kontakt {
	color: #404040;
	font-family: Tahoma;
	text-align: center;
	font-size: 20px;
}

footer {
	color: #404040;
	font-family:Tahoma;
	text-align: center;
}
