


.prvi {
	color: #404040;
	font-size: 60px;
	text-align: center;
	font-family: Tahoma;
}


.drugi {
	color: #404040;
	font-size: 60px;
	text-align: center;
	font-family: Tahoma;
}

.prvired img {
	width: 550px;
	height: 550px;
margin-left:1px;	
}

.parfem{
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	position: absolute;
	margin-left:120px;
}


.ruz {
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	margin-left:670px;
	position: absolute;
	
}


.krem{
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	position: absolute;
	margin-left:1280px;

}


.drugired img {
	width: 550px;
	height:550px;
	margin-left:1px;
}

.bb{
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	margin-left: 120px;
	position: absolute;
	
}

.maskara {
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	margin-left: 680px;
	position: absolute;
	
}

.maska {
	color: #404040;
	width: 400%;
	font-family: Tahoma;
	position: absolute;
	margin-left:1280px;
	
}


footer {
	color: #404040;
	text-align: center;
}